.distribution {
  height: var(--ui-size-sm);
  background-color: var(--border-color);
  display: flex;

  .progress {
    width: var(--progress-width);
    user-select: none;
    position: relative;

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      height: 1rem;
    }

    &:not(:last-child) {
      border-right: 0.125rem solid var(--background-color);
    }
  }
}
