.board {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;

  --node-size: var(--ui-size);
  --node-gap: calc(
    (100% - (var(--board-size) * var(--node-size))) / (var(--board-size) - 1)
  );

  .node {
    height: var(--node-size);
    width: var(--node-size);
    position: absolute;

    left: calc(var(--column) * (var(--node-size) + var(--node-gap)));
    top: calc(var(--row) * (var(--node-size) + var(--node-gap)));
  }

  .edge {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);

    &[data-orientation="horizontal"] {
      top: calc(
        var(--node-size) / 2 + var(--row) * (var(--node-gap) + var(--node-size))
      );
      left: calc(
        var(--node-size) + (var(--node-gap) / 2) + var(--column) *
          (var(--node-gap) + var(--node-size))
      );
    }

    &[data-orientation="vertical"] {
      top: calc(
        var(--node-size) + (var(--node-gap) / 2) + var(--row) *
          (var(--node-gap) + var(--node-size))
      );
      left: calc(
        var(--node-size) / 2 + var(--column) *
          (var(--node-gap) + var(--node-size))
      );
    }
  }
}
