@import "../../styles/mixins.css";

.node {
  height: var(--node-size);
  width: var(--node-size);
  position: absolute;

  left: calc(var(--column) * (var(--node-size) + var(--node-gap)));
  top: calc(var(--row) * (var(--node-size) + var(--node-gap)));

  border: 0.125rem solid var(--border-color);
  background-color: var(--background-color);
  outline: none;
  background-color: var(--background-color);
  cursor: pointer;

  &[data-node-state="selected"] {
    color: var(--text-on-primary-color);
    background-color: var(--primary-color);
    border-color: var(--primary-border-color);
  }

  @mixin hoverAnimations {
    &[data-node-state="idle"]:hover {
      border-color: var(--primary-color);
    }

    &[data-node-state="idle"]:active {
      border-color: var(--primary-border-color);
      background-color: var(--background-color-dark);
    }
  }
  &[data-node-state="invalid"] {
    border-color: var(--error-color);
  }

  &:focus-visible {
    outline: 0.125rem solid var(--focus-color);
    outline-offset: 0.125rem;
  }
}
