@import "../../styles/mixins.css";

.difficultyStats {
  .statItem {
    display: flex;
    justify-content: space-between;
    align-items: center;

    span {
      display: flex;
      align-items: center;
      gap: var(--spacing-xs);

      .badge {
        background-color: var(--border-color);
        padding: 0 var(--spacing-xs);
        height: calc(var(--ui-size) / 2);
        position: relative;
        color: var(--text-color);

        svg {
          color: var(--text-on-primary-color);
        }

        &[data-shiny="true"] {
          background-color: var(--primary-color);
          @mixin shinyAnimationHorizontal;
        }
      }
    }

    svg {
      color: var(--dimmed-text-color);
    }
  }
}
