.devBar {
  position: absolute;
  bottom: var(--spacing-md);
  left: var(--spacing-md);
  right: var(--spacing-md);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
}

.devIndicator {
  position: absolute;
  border: 0.5rem solid var(--primary-color);
  pointer-events: none;
  inset: 0;
}
