.selectedInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .value {
    transform: scale(1.5);
    animation: value var(--anim-duration) var(--anim-easing) forwards;
    user-select: none;

    &[data-hidden="true"] {
      visibility: hidden;
    }

    @keyframes value {
      0% {
        transform: scale(1.5);
      }

      100% {
        transform: scale(1);
      }
    }
  }
}
