.selectedInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .value {
    user-select: none;

    &[data-invalid="true"] {
      animation: shake var(--anim-duration) var(--anim-easing);
    }

    --shake-intensity: 0.25rem;
    @keyframes shake {
      0% {
        transform: translateX(0);
      }

      33% {
        transform: translateX(var(--shake-intensity));
      }

      66% {
        transform: translateX(calc(var(--shake-intensity) * -1));
      }

      100% {
        transform: translateX(0);
      }
    }
  }
}
