.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
  padding: 0 var(--side-padding);

  &.gap-xs {
    gap: var(--spacing-xs);
  }

  &.gap-sm {
    gap: var(--spacing-sm);
  }

  &.gap-md {
    gap: var(--spacing-md);
  }

  &.gap-lg {
    gap: var(--spacing-lg);
  }

  &.gap-xl {
    gap: var(--spacing-xl);
  }
}
