@mixin focus {
  &:focus-visible {
    outline: calc(0.125rem * var(--scale)) solid var(--focus-color);
    outline-offset: calc(0.125rem * var(--scale));
  }
}

@mixin font($family, $file, $weight) {
  @font-face {
    font-family: $family;
    src: url("~assets/fonts/" + $file + ".woff2") format("woff2");
    font-weight: $weight;
  }
}
