@mixin focus {
  &:focus-visible {
    outline: 0.125rem solid var(--focus-color);
    outline-offset: 0.125rem;
  }
}

@mixin font($family, $file, $weight) {
  @font-face {
    font-family: $family;
    src: url("~assets/fonts/" + $file + ".woff2") format("woff2");
    font-weight: $weight;
  }
}
