@import "./normalize.scss";
@import "./fonts.scss";
@import "./themes.scss";

body {
  font-family: Jost;
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: calc(16px * var(--scale));
}
