:root {
  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 2rem;

  --ui-size: 2.5rem;
  --ui-size-sm: 1.75rem;
  --ui-width: min(15rem, 80vw);
  --side-padding: calc((100vw - var(--ui-width)) / 2);
  --hover-anim-easing: cubic-bezier(0, 0, 0, 1);
}

:root {
  --background-color: #eeeeee;
  --background-color-dark: #d4d4d4;

  --text-color: #222831;
  --border-color: #ced4da;

  --primary-color: #228be6;
  --primary-border-color: #1c7ed6;
  --primary-border-color-active: #1767ad;

  --focus-color: #1971c2;
}
