:root {
  --scale: 1;

  --spacing-xs: calc(0.625rem * var(--scale));
  --spacing-sm: calc(0.75rem * var(--scale));
  --spacing-md: calc(1rem * var(--scale));
  --spacing-lg: calc(1.25rem * var(--scale));
  --spacing-xl: calc(2rem * var(--scale));

  --full-width: 80vw;
  --side-padding: calc((100vw - var(--full-width)) / 2);
}

:root {
  --background-color: #eeeeee;

  --text-color: #222831;
  --light-text-color: #eeeeee;

  --primary-color: #3fc1c9;
  --focus-color: #1971c2;
}
