:root {
  --spacing-xs: 0.625rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.25rem;
  --spacing-xl: 2rem;

  --ui-size-lg: 3.25rem;
  --ui-size: 2.5rem;
  --ui-size-sm: 1.75rem;
  --ui-width: min(18rem, 80vw);
  --side-padding: calc((100vw - var(--ui-width)) / 2);

  --anim-duration: 0.25s;
  --anim-easing: cubic-bezier(0, 0, 0, 1);
}

:root {
  body.theme-light {
    --background-color: hsl(0, 0%, 93%);
    --background-color-dark: hsl(0, 0%, 83%);

    --text-color: hsl(216, 18%, 16%);
    --border-color: hsl(210, 14%, 83%);

    --primary-color: hsl(208, 80%, 52%);
    --primary-border-color: hsl(208, 77%, 47%);
    --primary-border-color-active: hsl(208, 77%, 38%);
    --text-on-primary-color: white;

    --tooltip-color: hsl(216, 18%, 16%);
    --tooltip-text-color: #fff;

    --error-color: hsl(0, 72%, 57%);

    --focus-color: hsl(209, 77%, 43%);
  }

  body.theme-dark {
    --background-color: hsl(216, 18%, 16%);
    --background-color-dark: hsl(216, 18%, 6%);

    --text-color: hsl(0, 0%, 93%);
    --border-color: hsl(215, 18%, 31%);

    --primary-color: hsl(208, 80%, 42%);
    --primary-border-color: hsl(208, 77%, 37%);
    --primary-border-color-active: hsl(208, 77%, 28%);
    --text-on-primary-color: white;

    --tooltip-color: hsl(210, 16%, 93%);
    --tooltip-text-color: black;

    --error-color: hsl(0, 72%, 47%);

    --focus-color: hsl(209, 77%, 43%);
  }
}
