.board {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;

  --node-size: var(--ui-size);
  --node-gap: calc(
    (var(--ui-width) - (var(--board-size) * var(--node-size))) /
      (var(--board-size) - 1)
  );
}
