.alert {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
  position: absolute;
  width: var(--ui-width);
  left: var(--side-padding);
  bottom: 0%;

  animation: slide-in var(--anim-duration) var(--anim-easing) forwards;
  user-select: none;

  @keyframes slide-in {
    0% {
      bottom: 0%;
    }

    100% {
      bottom: var(--spacing-xl);
    }
  }

  &[data-type="warning"] svg {
    color: var(--error-color);
  }
}
