@import "../../styles/mixins.css";

.control {
  position: relative;

  .input {
    height: 0;
    width: 0;
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;

    &:focus-visible + label {
      outline: 0.125rem solid var(--focus-color);
      outline-offset: 0.125rem;
    }

    & + label {
      user-select: none;
    }
  }

  .toggleButton {
    border: 0.125rem solid var(--border-color);
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: var(--ui-size);

    &[data-active="true"] {
      color: var(--text-on-primary-color);
      background-color: var(--primary-color);
      border-color: var(--primary-border-color);
    }

    @mixin hoverAnimations {
      &:hover {
        border-color: var(--primary-color);
      }

      &:active {
        border-color: var(--primary-border-color);
        background-color: var(--background-color-dark);
        transform: translateY(var(--active-press));
      }

      &[data-active="true"]:hover {
        border-color: var(--primary-border-color-active);
      }

      &[data-active="true"]:active {
        border-color: var(--primary-border-color-active);
        background-color: var(--primary-border-color);
      }
    }

    &:focus-visible {
      outline: 0.125rem solid var(--focus-color);
      outline-offset: 0.125rem;
    }
  }
}
