.socialButton {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline: 0.125rem solid var(--focus-color);
    outline-offset: 0.125rem;
  }
}
