.board {
  --node-size: var(--ui-size);
  --gap-size: calc(
    (var(--ui-width) - var(--board-size) * var(--node-size)) /
      (var(--board-size) - 1)
  );

  width: var(--ui-width);
  height: var(--ui-width);
  position: relative;

  .edge {
    position: absolute;
    display: flex;
    transform: translate(-50%, -50%);

    &.horizontal {
      top: calc(
        var(--node-size) / 2 + var(--row) * (var(--gap-size) + var(--node-size))
      );
      left: calc(
        var(--node-size) + (var(--gap-size) / 2) + var(--column) *
          (var(--gap-size) + var(--node-size))
      );
    }

    &.vertical {
      top: calc(
        var(--node-size) + (var(--gap-size) / 2) + var(--row) *
          (var(--gap-size) + var(--node-size))
      );
      left: calc(
        var(--node-size) / 2 + var(--column) *
          (var(--gap-size) + var(--node-size))
      );
    }
  }
}
