.checkbox {
  --checkbox-size: var(--ui-size-sm);

  display: flex;
  align-items: center;
  position: relative;
  min-height: var(--checkbox-size);
  cursor: pointer;
  user-select: none;

  &:has(> input:focus-visible) {
    outline: 0.125rem solid var(--focus-color);
    outline-offset: 0.125rem;
  }

  input {
    position: absolute;
    right: 0;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    appearance: none;
    outline: none;
    cursor: pointer;
  }

  span {
    position: absolute;
    right: 0;
    height: var(--checkbox-size);
    width: var(--checkbox-size);
    background-color: var(--background-color);
    border: 0.125rem var(--border-color) solid;
    pointer-events: none;
    color: var(--text-on-primary-color);

    .check {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: top left;
      visibility: hidden;
    }
  }

  input:checked {
    + span {
      background-color: var(--primary-color);
      border-color: var(--primary-border-color);

      .check {
        visibility: visible;
      }
    }
  }

  &.withHoverAnimations:hover {
    input:not(:checked) {
      + span {
        border-color: var(--primary-color);
      }

      &:active + span {
        background-color: var(--background-color-dark);
        border-color: var(--primary-border-color);
      }
    }

    input:checked {
      + span {
        border-color: var(--primary-border-color-active);
      }

      &:active + span {
        border-color: var(--primary-border-color-active);
        background-color: var(--primary-border-color);
      }
    }
  }
}
