.selectedInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &[data-hidden="true"] {
    visibility: hidden;
  }

  .value {
    transform: scale(1.5);
    animation: value var(--anim-duration) var(--anim-easing) forwards;
    user-select: none;

    @keyframes value {
      0% {
        transform: scale(1.5);
      }

      100% {
        transform: scale(1);
      }
    }
  }

  .dots {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs);

    .dot {
      width: 0.5rem;
      height: 0.5rem;
      background-color: var(--primary-color);
      border-radius: 50%;
    }

    &[data-invalid="true"] {
      animation: shake var(--anim-duration) var(--anim-easing);

      .dot {
        background-color: var(--error-color);
      }
    }

    --shake-intensity: 0.25rem;
    @keyframes shake {
      0% {
        transform: translateX(0);
      }

      33% {
        transform: translateX(var(--shake-intensity));
      }

      66% {
        transform: translateX(calc(var(--shake-intensity) * -1));
      }

      100% {
        transform: translateX(0);
      }
    }
  }
}
